* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header, section h2, section h3, button {
    font-family: 'Lexend Tera', sans-serif;
}

body {
    font-family: 'Poppins', sans-serif;
    margin-bottom: 36px;
}

.container {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header {
    padding: 16px 0;
    background-color: rgb(220, 182, 255);
    color:rgb(68, 2, 129);
    margin-bottom: 36px;
    font-size: 1.4em;
}

.menu > li {
    list-style: none;
    display: inline;
    padding: 16px;
}

.menu li a {
    text-decoration: none;
    color: rgb(68, 2, 129);
}

.menu li:hover {
    background-color: #fff;
    border-radius: 10px;
}

.facade {
    max-width: 100%;
    margin-right: 24px;
    height: 40em;
    width: 40em;
}

.about {
    display: flex;
}

.descricao {
    display: block;
}

.descricao h2 {
    font-size: 1.4em;
    margin-bottom: 16px;
}

.descricao p {
    font-size: 1em;
}

#products h2 {
    padding: 16px 0;
    font-size: 1.4em;
}

#products ul {
    display: flex;
    max-width: 100%;
}

#products li {
    list-style-type: none;
    margin-right: 8px;
}

#products img {
    max-width: 100%;
    width: 300px;
    height: 300px;
}

#products h3 {
    font-size: 1em;
    margin: 8px 0;
}

#products button {
    background-color: rgb(220, 182, 255) ;
    margin-top: 16px;
    font-size: 0.8em;
    padding: 8px;
    border: none;
    border-radius: 5px;
    color: rgb(68, 2, 129);
    width: 100%;
    cursor: pointer;
}

#products button:hover {
    background-color:  rgb(201, 191, 211);    
}

@media screen and (max-width: 767px) {
    .conteudo {
        display: block;
    }

    .container {
        max-width: 90%;
    }

    .facade {
        max-width: 100%;
        height: auto;
        width: auto;
    }
    
    .about {
        display: block;
    }
    
    .descricao h2 {
        font-size: 1.4em;
        margin-bottom: 8px;
        margin-top: 16px;
    }
    
    .descricao p {
        font-size: 1em;
        margin-bottom: 16px;
    }

    #products ul {
        display: block;
        max-width: 100%;
    }

    #products button {
        margin-top: 8px;
        margin-bottom: 16px;
        width: 300px;
    }

    #products h3 {
        font-size: 1em;
    }

    header .container {
        flex-direction: column;
    }

    .menu > li {
        font-size: 0.5em;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {

    .container {
        max-width: 90%;
    }

    .about {
        display: block;
    }

    .descricao h2 {
        font-size: 1.4em;
        margin-top: 16px;
    }
    
    .descricao p {
        font-size: 1em;
    }

    #products h2 {
        font-size: 1.4em;
        margin-top: 16px;
    }

    #products ul {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 16px;
    }

    #products button {
        margin-top: 8px;
        margin-bottom: 16px;
        width: 300px;
    }

    #products h3 {
        font-size: 1em;
    }

    #products  {
        grid-template-columns: repeat(2, 49%);
    } 

    .menu > li {
        font-size: 0.8em;
    }
}